<div id="top">
  <div class="nav cyan">
    <ul >
      <li <if condition="MODULE_NAME eq 'Index' "> class="active" </if> ><a href="{:U('Index/Index/index')}">首页</a></li>
      <li <if condition="MODULE_NAME eq 'DDL' "> class="active" </if>   ><a href="{:U('DDL/Index/index')}">DDL</a></li>
      <!--  
      <li><a href="#">DML</a></li>
      <li><a href="#">高性能</a></li>
      <li><a href="#">高可用</a></li>
      <li><a href="#">API</a></li>
      -->
      <li><a href="#">About Me</a></li>
      <li class='dl'><a href="#">登录</a></li>
    </ul>
  </div>
</div>