<h3>请登录</h3>
<div class="page-container">
  <form class="bl_form" action="{:U('Index/Index/doLogin')}" method="post">
    <input name='username' type="text" value=""  class="label_better input2" data-new-placeholder="用户名" placeholder="用户名" maxlength="50">
    <input name='password' type="password" value=""  class="label_better input2" data-new-placeholder="密码" placeholder="密码" maxlength="50">
    </br>
    <input type="submit" value="登  录" class="candy_btn">
  </form>
</div>
    <a href="{:U('Index/Index/register')}">点击注册。</a>
